
.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  margin-top: 5vh;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

main {
  width: 95%;
}

.main-display {
  text-align: center;
}

#undo-btn {
  margin-left: 10px;
}

#end-btn {
  margin-top: 10px;
}

.bird-display {
  background-color: #1b7288;
  font-size: 18px;

}